<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~/Apps/Apps.D3Map/")'; //全局的URl，解决iis中路径的问题
    </script>
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Libs/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Libs/OpenLayers.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Libs/zdclient.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Global/global.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Libs/ulselect.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Global/isTheValueLegal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Global/init.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/style.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/uiContent.css")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/uiContent.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/ZHGL/layQueryResult.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/ZHGL/disaQuery.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/ZHGL/disaQuery.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/ToolBarStyle.css")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Global/addContent.js")" type="text/javascript"></script>

    @*雨量管理js文件夹 ZHAOs 2014年4月3日16:05:42*@
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/YLGL/rainManage.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/YLGL/rainManageQuery.css")" type="text/css" rel="stylesheet" />
    @*End雨量管理*@


    @*start csw*@
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/ZHGL/style_popup.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/ZHGL/showQueryResult.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/ZHGL/RrPopup.css")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Libs/NestFramedCloud.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Libs/RrPopup.js")" type="text/javascript"></script>
    @*end csw*@

    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/QXYJ/warningResultAnalysis.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/QXYJ/warninganalyse.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/QXYJ/historywarning.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/QXYJ/signAndApprove.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Apps/Apps.D3Map/Content/QXYJ/excelAndGraph.css")" type="text/css" rel="stylesheet" />

    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Libs/treeLayerManage/treeLayerManage.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Apps/Apps.D3Map/Scripts/Libs/treeLayerManage/treeLayerStyle.css")" type="text/css" rel="stylesheet" />

    <script src="@Url.Content("~/Apps/Apps.D3Map/Scripts/Libs/lhgcalendar.js")" type="text/javascript"></script>

    
</head>

<body>

    @RenderBody()
</body>
</html>
